.button{
    margin-left: 10px;
    padding:10px;
    outline:none;
    border:none;
    border-radius: 5px;
    min-width: 150px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color:  rgb(216, 242, 253);}